
<head>
  <!-- <link rel="stylesheet" type="text/css" href="style.css">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <a href="https://icons8.com/icon/114158/secured-letter">Secured Letter icon by Icons8</a>
  </head>

<div class="container">
  

<body> 

    
        <table style="width:70%">
            <tr>
              <td class="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../assets/Photo.jpg" width="px" height="160px"> </td>
              <!-- <div class="hexagon">
                <div class="hexagon-inside"> </div>
                  <div class="hexagon-image"> </div>
                   
                 

              </div> -->
              <td class="B">
                <h1 id="f"><b>OFENTSE PERCY BOKHATSI</b></h1>

              </td>
            </tr>
            <tr>
              <td class="left" rowspan="2">
                <p class="A"><b><p id="contact"><br><p class="About">About Me&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></b><br>
                  
                  
                  <small><img src="https://img.icons8.com/ios/35/000000/user.png">&nbsp;&nbsp;&nbsp;&nbsp;Ofentse Percy Bokhatsi<br><br>
                    <img src="https://img.icons8.com/ios/35/000000/calendar-11.png">&nbsp;&nbsp;&nbsp;&nbsp;18 August 1994<br>
                  
                    <br><img src="https://img.icons8.com/ios/35/000000/marker.png">&nbsp;&nbsp;&nbsp;&nbsp;103 nkhatle Street<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bekkersdal Location<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1779</small></p>
                    


                
              </td>
              
              <td class="B">
                <p id="Education"><b><p class="About">Education&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></b></p>
                  <ul>
                      <li><i><small>Rosebank College&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>2017 Fabruary</i><br>Diploma In Information Technology<br>Network Management</small></i></li>
                    </ul>
              </td>
              
            </tr>
            <tr>
              <td class="B">
                <p id="Interest"><b><p class="About">Interest&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></b></p>
                <ul><i><small>
                    <li>Reading Novel Books</li>
                    <li>Playing Games</li>
                    <li>Going Out With Friends</li>
                    <li>Coding</li></small></i>
                  </ul>
    </td>
            </tr>

            <tr>
                <td class="left" rowspan="2" id="C"><p><b><p id="contact"><p class="About"><b>Contacts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p></b>

                  <div class="A">
                    <small><img src="https://img.icons8.com/ios/35/000000/secured-letter.png">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;ofentsebokhatsi@gmail.com<br><br>
                    
                      <img src="https://img.icons8.com/ios/35/000000/phone.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone No:
                    0671475818<br>
                    <br><img src="https://img.icons8.com/ios/35/000000/facebook.png">&nbsp;&nbsp;&nbsp;&nbsp;facebook.com/OfentseDerossi</small>
                  

                  </div>
              
                </td>
            
                
                <td class="B">
                  <p id="Experience"><b><p class="About">Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></b></p>
                  <ul><i><small>
                    <li>Project for C#</li>
                    <li>Volunteering at The Bekkkersdal Library</li>
                    <li>Project for CCNA</li></small></i>
                    
                  </ul>

                </td>
              </tr>
              <tr>
                <td class="B">
                  <p id="PersonalSkills"><b><p class="About">Personal Skills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></b></p>
                      
                  
                  <ul><i><small>
                    <li><p>Computer Literacy</p></li><span class="bar"><span class="ComputerLeteracy"></span></span>
                    <li><p>Windows Server</p></li><span class="bar"><span class="WindowsServer"></span></span>
                    <li><p>Trouble Shooting Computer hardware</p></li><span class="bar"><span class="Troubleshooting"></span></span>
                    <li><p><small>#, CSS, HTML5</small></p></li><span class="bar"><span class="Languages"></span></span>
                  </small></i>
                    
                   
                  </ul>

                </td>
              </tr>
          </table>
              
                  
                  
                 
                  

                
             
    


  



</body>
</div>






<router-outlet></router-outlet>
